@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

.calculator {
  width: 100%;
  height: 100vh;
}

.screen {
  height: 40%;
  padding-top: 20px;
  text-align: right;
  background: #343434;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.display-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  height: 70%;
}

.upper-screen {
  font-size: 22px;
  font-weight: 700;
  word-wrap: break-word;
  padding-right: 10px;
  margin-bottom: 15px;
}

.lower-screen {
  font-size: 28px;
  font-weight: 700;
  padding-right: 10px;
  word-wrap: break-word;
}

.screen-btns {
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.screen-btns button {
  height: 50px;
  font-size: 20px;
  background: none;
  outline: none;
  border: none;
  padding: 10px;
  color: white;
}

.clearHistory-btn {
  display: none;
}

.toggle-btn-display {
  display: block;
}

.del {
  display: grid;
  place-items: center;
}

.del svg {
  width: 35px;
  height: 25px;
}

.buttons {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 60%;
  border-top: 1px solid gray;
  overflow: hidden;
}

.buttons button {
  background: white;
  color: #343434;
  height: 100%;
  border: none;
  outline: none;
  font-size: 24px;
  border: 1px solid gray;
}

button {
  cursor: pointer;
  font-weight: 600;
  -webkit-tap-highlight-color: transparent;
  transition: 0.2s ease;
}

.history-container {
  position: absolute;
  border: 1px solid gray;
  background: white;
  padding: 10px;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  list-style: none;
  transition: 0.3s ease;
}

.history-container::-webkit-scrollbar {
  width: 6px;
}
.history-container::-webkit-scrollbar-thumb {
  background: #343434;
  border-radius: 14px;
}

.history-container h2 {
  text-align: center;
}

.slide-historyBar {
  left: 0;
}

.history-item {
  padding: 4px;
}

.history-input,
.history-output {
  margin-bottom: 6px;
  word-wrap: break-word;
}

@media (hover: hover) {
  .screen-btns button:hover {
    background: #28282b;
  }

  .buttons button:hover {
    background: #e2dfd2;
  }
}
